<div class="row">
	<div class="col-md-2">
    	<h4 class="list-group-item-heading">Filtrar Productos</h4>
		<div class="form-group" role="search">
			<input type="text" class="form-control" placeholder="Buscar">
		</div>
	</div>
	<div class="col-md-10">
		<div class="row productos"></div>		
	</div>
</div>